/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/**----Basic Start----**/
.content {
  max-width: 2000px;
  margin: 0 auto;
  padding: 35px;
}

h2 {
  font-size: 24pt;
  letter-spacing: .2em;
  color: #4d4c4c;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 10px #ededed;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 14pt;
}

.h2Line {
  width: 80px;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#1da3ac));
  background: linear-gradient(left, #fff, #1da3ac);
  margin: 20px auto;
  margin-bottom: 50px;
}

.clear {
  clear: both;
}

.circle, .timeline {
  background: #fff;
  -webkit-box-shadow: 2px 2px 6px #1b99a2;
          box-shadow: 2px 2px 6px #1b99a2;
  position: absolute;
}

.footer {
  background: #000;
}

.footer p {
  text-align: center;
  line-height: 1.5em;
  font-size: 14pt;
  color: #4d4c4c;
}

/**----Basic End----**/
/**----Header----**/
.header {
  background: #ededed;
}

.header .content {
  background: url(../../images/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  height: 600px;
  position: relative;
}

.logo a {
  background: url(../../images/www-logo.png);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  float: left;
  display: block;
  width: 147px;
  height: 43px;
}

.menu {
  float: right;
}

.menu li {
  display: inline-block;
  padding-left: 10px;
  margin-top: 8px;
}

.menu li a {
  text-decoration: none;
  font-size: 20pt;
  font-weight: bolder;
  padding: 3px 12px;
  color: #1da3ac;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu li a:hover {
  color: #fff;
  text-shadow: 0 0 10px #1da3ac;
}

.nextPage {
  position: absolute;
  bottom: 5%;
  right: 50%;
}

.nextPage a {
  text-decoration: none;
}

.nextPage i {
  color: #1da3ac;
  display: block;
  line-height: 10px;
  font-size: 24pt;
  -webkit-transition: .8s;
  transition: .8s;
}

.nextPage i:hover {
  color: #fff;
  text-shadow: 0 0 10px #1da3ac;
}

.nameGithub {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  right: 35px;
  text-align: center;
  box-align: center;
}

.nameGithub a {
  text-decoration: none;
  color: #1da3ac;
  padding: 3px 4px;
  -webkit-transition: .8s;
  transition: .8s;
}

.nameGithub a:hover {
  color: #fff;
  text-shadow: 0 0 10px #1da3ac;
}

.nameGithub a:hover > i {
  color: #fff;
  text-shadow: 0 0 10px #1da3ac;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.nameGithub span {
  letter-spacing: .8em;
  margin-left: 10pt;
  font-size: 20pt;
}

.nameGithub i {
  font-size: 20pt;
  padding-bottom: 3px;
  -webkit-transition: .8s;
  transition: .8s;
}

/**----Header End----**/
#about {
  background: #1da3ac;
}

#about h2 {
  color: #fff;
  text-shadow: 2px 2px 10px #1b99a2;
}

#about .h2Line {
  background: -webkit-gradient(linear, left top, right top, from(#1da3ac), to(#4d4c4c));
  background: linear-gradient(left, #1da3ac, #4d4c4c);
}

.mypicName {
  display: inline-block;
  position: relative;
  width: 320px;
  height: 220px;
  margin-bottom: 100px;
}

.selfie {
  position: absolute;
  left: 60px;
  z-index: 0;
}

.myname {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: -20px;
}

.experience {
  display: inline-block;
  width: 50%;
  margin-left: 100px;
  color: #fff;
}

.experience li {
  position: relative;
  margin-bottom: 40px;
}

.experience li h3 {
  text-shadow: 5px 5px 5px #1b99a2;
  margin-bottom: 10px;
}

.experience li p {
  font-size: 14pt;
  line-height: 2em;
}

.experience .circle {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  left: -50px;
  z-index: 2;
}

.experience .timeline {
  width: 3px;
  top: 0;
  bottom: -40px;
  left: -40px;
  z-index: 0;
}

/**----Skill Start----**/
#skill {
  background: #ededed;
}

#skill .content {
  background: url(../../images/skillBG.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
  max-width: 2000px;
}

.skillTree {
  position: relative;
  margin-left: 10%;
}

.skillTree > ul {
  padding: 50px 0;
}

.skillTree > ul li {
  position: relative;
  height: 82px;
  padding: 16px 0;
}

.skillTree .timeline {
  width: 3px;
  left: 39.5px;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 2px 2px 6px #4d4c4c;
          box-shadow: 2px 2px 6px #4d4c4c;
  z-index: 0;
}

.skillTree .circle {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 2px 2px 6px #4d4c4c;
          box-shadow: 2px 2px 6px #4d4c4c;
  left: 27px;
  z-index: 3;
}

.circleDown {
  bottom: 0;
}

.skillItem {
  width: 82px;
  height: 82px;
  border-radius: 90px;
  border: 5px solid #fff;
  background: #ededed;
  -webkit-box-shadow: 2px 2px 6px #4d4c4c;
          box-shadow: 2px 2px 6px #4d4c4c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 10;
}

.proficiency {
  height: 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 50px;
  padding-top: 10px;
  color: #cadee1;
  border: 5px solid #fff;
  border-radius: 0 82px 82px 0;
  background: #1da3ac;
  -webkit-box-shadow: 2px 2px 6px #ededed;
          box-shadow: 2px 2px 6px #ededed;
  position: absolute;
  left: 41px;
  z-index: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.explain {
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 20px 20px;
  background: #ededed;
  color: #4d4c4c;
  -webkit-box-shadow: 3px 3px 10px #4d4c4c;
          box-shadow: 3px 3px 10px #4d4c4c;
  border-radius: 15px 15px 15px 2px;
  position: absolute;
  z-index: 3;
  -webkit-transition: 3s;
  transition: 3s;
  left: 50%;
}

/**----Work Start----**/
.workExample {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.workExample li {
  width: 47%;
  margin: 1%;
  text-align: center;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.workExample li:hover {
  -webkit-box-shadow: 2px 2px 6px #4d4c4c;
          box-shadow: 2px 2px 6px #4d4c4c;
}

.workExample li .imgHover {
  display: none;
}

.workExample .illustrate {
  display: none;
  position: absolute;
  top: 35%;
  width: 100%;
}

.workExample h4 {
  margin-bottom: 4px;
  letter-spacing: .3em;
}

.workExample h4 > a {
  color: #4d4c4c;
  line-height: 2em;
  padding: 3px 20px;
  border-radius: 40px;
  -webkit-transition: .8s;
  transition: .8s;
}

.workExample h4 > a:hover {
  text-shadow: 0 0 2px #cadee1;
  color: #1da3ac;
}

.workExample a {
  text-decoration: none;
  margin: 0 4px;
  font-size: 18pt;
  color: #4d4c4c;
}

.workExample a i {
  -webkit-transition: .8s;
  transition: .8s;
  padding: 10px;
  border-radius: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.workExample a:hover > i {
  -webkit-box-shadow: 0 0 5px #4d4c4c;
          box-shadow: 0 0 5px #4d4c4c;
  border: none;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: #1b99a2;
  color: #fff;
}

/**----Work End----**/
#contact {
  background: #4d4c4c;
}

#contact h2 {
  color: #fff;
  text-shadow: 2px 2px 10px #4d4c4c;
}

#contact .h2Line {
  background: -webkit-gradient(linear, left top, right top, from(#4d4c4c), to(#1da3ac));
  background: linear-gradient(left, #4d4c4c, #1da3ac);
}

#contact i {
  margin-right: 10px;
}

.contentMessage {
  float: right;
  width: 100%;
  color: #fff;
}

.contentMessage > div {
  width: 40%;
  margin: 0 2%;
  font-size: 14pt;
  line-height: 2em;
  letter-spacing: .05em;
  display: inline-block;
}

.contentMessage > div .locate {
  margin-left: 2px;
  margin-right: 12px;
}

.contentMessage > div > div {
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#1da3ac));
  background: linear-gradient(left, #fff, #1da3ac);
  margin: 10px  0;
}

.email > i {
  color: #1da3ac;
}

.contactForm {
  float: right;
  margin: 0 2%;
  width: 50%;
}

.contactForm input, .contactForm textarea {
  font-size: 12pt;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 5px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.contactForm textarea {
  height: 100px;
}

.contactForm button {
  font-size: 12pt;
  letter-spacing: .05em;
  background: #4d4c4c;
  color: #fff;
  padding: 10px 20px 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contactForm .send {
  border: 1px solid #1da3ac;
  -webkit-transition: 1s;
  transition: 1s;
}

.contactForm .send:hover {
  background: #1da3ac;
  -webkit-box-shadow: 2px 2px 10px #000;
          box-shadow: 2px 2px 10px #000;
}

.contactForm .reset {
  border: 1px solid #cadee1;
  -webkit-transition: 1s;
  transition: 1s;
  float: right;
}

.contactForm .reset:hover {
  background: #000;
  -webkit-box-shadow: 2px 2px 10px #000;
          box-shadow: 2px 2px 10px #000;
}
/*# sourceMappingURL=all.css.map */