//---**About Start**--//
#about{
    background: $color-master;
    h2{
        color: $color-for;
        text-shadow: 2px 2px 10px $color-six;
    }
    .h2Line{
        background-image: linear-gradient(left,$color-master,$color-fiv);
    }
}



.experience{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    &>ul{
        color: $color-fiv;
        width: 50%;
        &>li{
            position: relative;
            margin-bottom: 40px;
        }
    }
    h3{
        display: inline-block;
        color: $color-thir;
        margin-bottom: 7px;
        padding: ˋpx;
    }
    p{
        font-size: $fntSiz-xs;
        line-height: 2em;
    }

    .skill{
        color: $color-9;
        padding: 5px 0;
    }

    .circle{
        width: 23px;
        height: 23px;
        border-radius: 23px;
        left: -50px;
        top:-2px;
        z-index: 2
    }
    .timeline{
        width: 3px;
        top: 0;
        bottom: -40px;
        left: -40px;
        z-index: 0;
    }
    @include pc900(){
        flex-direction: column;
        align-items: flex-start;
        padding: 0 8%;
        &>ul{
            color: $color-fiv;
            width: 100%;
        }
    }
}

.experience_date{
    display: block;
    color: $color-thir;
    letter-spacing: .08em;
}

.experience_content{
    width: 75%;
    background: $color-for;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 1px 10px 10px 10px;
    box-shadow: 3px 3px 5px $color-10;
    color: $color-13;
    li{
        margin: 15px;
        list-style-type: circle;
        line-height: 1.3em;
        // list-style-position: inside;
    }
}

.myArticle{
    margin-bottom: 150px;
    width: 40%;
    p{
        margin: 20px 0;
        color: $color-14;
    }
    .article_hilight{
        color: $color-thir;
        font-weight: bold;
    }
    a:hover{
        color: $color-9;
    }
    img{
        width: 286px;
    }
    @include pc900(){
        margin: 5% 0;
        width: 100%;
    }
    @include pc700(){
        margin-top:0;
    }
}

.about_image_alert{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-8;
    div{
        max-width: 80%;
        min-width: 50%;
        background-color: $color-fiv;
        padding: 50px 15px;
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    img{
        max-width: calc( 100% - 120px );
        max-height: 80vh;
    }
    i{
        font-size: $fntSiz-xl;
        color: $color-for;
        margin: 5px;
        transition: all .3s;
        @include pointer;
    }
    .cloes_image{
        position: absolute;
        top: 10px;
        right: 15px;
        color: $color-10;
        &:hover{
            color: $color-12;
            text-shadow: 0 0 10px $color-10;
        }
    }
    .pre_image:hover,
    .next_image:hover{
        text-shadow: 0 0 10px $color-10;
    }
    span{
        position: absolute;
        bottom: 60px;
        right: 100px;
        padding: 10px 16px;
        border-radius: 20px;
        font-size: $fntSiz-s;
        background: $color-six;
        color: $color-for;
        box-shadow: 0 0 8px $color-10;
    }
}

.about_image{
    color: $color-9;
    font-size: $fntSiz-xs;
    padding: 1px 3px;
    margin: 0 3px;
    @include pointer;
    transition: all .3s;
    span{
        margin: 0 1.5px;
    }
    &:hover{
        color: $color-for;
        background-color: $color-9;
        border-radius: 2px;
    }
}

.noShow{
    display: none;
}

//---**About End**--//
