//---**About Start**--//
#about{
    background: $color-master;
    h2{
        color: $color-for;
        text-shadow: 2px 2px 10px $color-six;
    }
    .h2Line{
        background: -webkit-linear-gradient(left,$color-master,$color-fiv);
        background: -o-linear-gradient(left,$color-master,$color-fiv);
        background: -moz-linear-gradient(left,$color-master,$color-fiv);
        background: linear-gradient(left,$color-master,$color-fiv);
    }
}

.mypicName{
    display: inline-block;
    position: relative;
    width: 320px;
    height: 220px;
    margin-bottom: 100px;
}

.selfie{
    position: absolute;
    left: 60px;
    z-index: 0;
}
.myname{
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: -20px;
}

.experience{
    display: inline-block;
    width: 50%;
    margin-left: 100px;
    color: $color-for;
    li{
        position: relative;
        margin-bottom: 40px;
        h3{
            text-shadow: 5px 5px 5px $color-six;   
            margin-bottom: 10px;      
        }
        p{
            font-size: $fntSiz-xs;
            line-height: 2em;
        }
    }
    .circle{
        width: 23px;
        height: 23px;
        border-radius: 23px;
        left: -50px;
        z-index: 2
    }
    .timeline{
        width: 3px;
        top: 0;
        bottom: -40px;
        left: -40px;
        z-index: 0;
    }
}

//---**About End**--//
