/**----Basic Start----**/

.content{
    max-width: 2000px;
    margin: 0 auto;
    padding: 35px;
}

h2{
    font-size: $fntSiz-l;
    letter-spacing: .2em;
    color: $color-master;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px $color-sec;
    margin-bottom: 50px;
}

h3{
    font-size: $fntSiz-s;
}
h4{
    font-size: $fntSiz-xs;
}

.circle,.timeline{
    background: $color-for;
    box-shadow: 2px 2px 6px $color-six;
    position: absolute;
}

.footer{
    background: $color-master;
    p{
        text-align: center;
        line-height: 1.5em;
        font-size: $fntSiz-xs;
        color: $color-sev;
    }
}
/**----Basic End----**/