/**----Basic Start----**/

.content{
    max-width: 2000px;
    margin: 0 auto;
    padding: 3%;
    @include boxsize;
    @include phone500(){
        padding: 10% 3%;
    }
}

h2{
    font-size: $fntSiz-l;
    letter-spacing: .2em;
    color: $color-fiv;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 10px $color-sec;
}

h3{
    font-size: $fntSiz-s;
}
h4{
    font-size: $fntSiz-xs;
}

.h2Line{
    width: 80px;
    height: 2px;
    background-image: linear-gradient(left,$color-for,$color-master);
    margin: 20px auto;
    margin-bottom: 50px;
}

.clear{
    @include clear;
}

.circle,.timeline{
    background: $color-for;
    box-shadow: 2px 2px 6px $color-six;
    position: absolute;
}

i{
    margin-right: 10px;
}

.footer{
    background: $color-sev;

    p{
        text-align: center;
        line-height: 1.5em;
        font-size: $fntSiz-xs;
        color: $color-fiv;
    }
}

/**----Basic End----**/