/**----Skill Start----**/

#skill{
    background: $color-for;
    .content{
        background: url(../../images/skillBG.png);
        @include backgroundSetting;
        background-position: center;
        max-width: 2000px;   
        @include phone500(){
            background: url(../../images/skillBG-phone.png);
            background-position: center;
        }
    }
}

.skillTree{
    position: relative;
    margin-left: 10%;
    &>ul{
        padding: 50px 0;
        li{
        position: relative;
        height: 82px;
        padding: 16px 0;
        }
    }
    .timeline{
        width: 3px;
        left: 39.5px;
        top:0;
        bottom: 0;
        box-shadow: 2px 2px 6px $color-fiv;
        z-index: 0;        
    }
    .circle{
        width: 28px;
        height: 28px;
        border-radius: 28px;
        box-shadow: 2px 2px 6px $color-fiv;
        left: 27px;
        z-index: 3;
    }
    // Hover & Click .proficiency
    .skillActive{
        .proficiency{
            box-shadow: 2px 2px 6px $color-fiv;
        }
        .explain{
            display: inline-block;
        }
    }
    @include pc700(){
        margin-left: 2%;
        .skillActive{
        height: 120px;}
        .explain{
            top: 85px;
            left: 80px;
            border-radius: 0px 15px 15px 15px;
        }
    }
}
.circleDown{
    bottom: 0;
}

.skillItem{
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    border-radius: 90px;
    border: 5px solid $color-for;
    background: $color-sec;
    box-shadow: 2px 2px 6px $color-fiv;
    @include boxsize; 
    position: absolute;
    z-index: 10;
}

.proficiency{
    height: 82px;
    font-size: $fntSiz-xxs;
    line-height: 1.5em;
    @include boxsize;
    padding-left: 50px;
    padding-top: 5px;
    color: $color-thir;
    border: 5px solid $color-for;
    border-radius: 0 82px 82px 0;
    background: $color-master;
    box-shadow: 2px 2px 6px $color-sec;
    position: absolute;
    left:41px;
    z-index: 0;
    transition: 0.3s;
    @include pointer;
}

.explain{
    font-size: $fntSiz-xxs;
    line-height: 1.5em;
    display: none;
    transition: .3s;
    padding: 10px 15px;
    background: $color-sec;
    color: $color-fiv;
    box-shadow: 3px 3px 10px $color-fiv;
    border-radius: 15px 15px 15px 2px;
    position: absolute;
    z-index: 3;
    transition: .5s;
}
