/**----Work Start----**/

.workExample{
    display: inline-flex;
    flex-flow: row wrap;
    li{
        width: 47%;
        margin: 1%;
        position: relative;
        box-shadow: 2px 2px 5px $color-10;
        transition: all .3s;
        border-radius: 5px;
        overflow: hidden;
        &:hover,&:active{
            box-shadow: 2px 2px 20px $color-10;
        }
    }
    img{
        transition: all .3s;
        &:hover{
            box-shadow: 2px 2px 10px $color-10;
        }
    }
    @include pc900(){
        margin: 0 auto;
        flex-flow: column;
        li{
            width: 100%;
            margin: 3% 0;
        }
    }
}

.workInfo{
    padding: 15px;
    p{
        margin-top: 20px;
        line-height: 1.5em;
    }
}

.workTitle{
    font-size: $fntSiz-s;
    display: inline-flex;
    margin: 10px 0;
}

.workLink{
    display: inline-flex;
    justify-content: center;
    i{
        margin: 0;
    }
    a {
        font-size: $fntSiz-xs;
        color: $color-9;
        margin: 0 3px;
        padding: 3px;
        transition: .8s;
        border-radius: 45px;
        @include boxsize;
        &:hover{
            box-shadow: 0 0 5px $color-fiv;
            color: $color-for;
            background-color: $color-9;
            border: none;
            transform: rotate(360deg);
        }
    }
}

.hashtag{
    margin: 10px 0;
    span{
        background-color: $color-sec;
        font-size: $fntSiz-xxxs;
        border-radius: 3px;
        margin-right: 10px;
        padding: 5px 8px;
    }
}

.otherDescribe{
    font-size: $fntSiz-xxxs;
    a{
        color: $color-thir;
        transition: all .3s;
        &:hover{
            background-image: linear-gradient(to top, #ffd921 50%, #00000000 50.1%);
        }
    }
}

/**----Work End----**/
