/**----Work Start----**/

.workExample{
    display: inline-flex;
    flex-flow: row wrap;
    li{
        width: 47%;
        margin: 1%;
        text-align: center;
        position: relative;
        &:mhover,&:active{
            box-shadow: 2px 2px 6px $color-fiv;
        }
        .imgHover{
            display: none;
        }
    }
    .illustrate{
        display: none;
        position: absolute;
        top:35%;
        width: 100%;
    }
    h4{
        margin-bottom: 4px;
        letter-spacing: .3em;
            &>a{
            color: $color-fiv;
            line-height: 2em;
            padding: 3px 20px;
            border-radius: 40px;
            transition: .8s;
            &:hover,&:active{
                text-shadow: 0 0 2px $color-thir;
                color: $color-master;
            }
        }
    }
    a{
        text-decoration: none;
        padding: 3px;
        margin: 0 4px;
        font-size: $fntSiz-s;
        color: $color-fiv;
        i{
            transition: .8s;
            padding: 10px;
            margin: 0;
            border-radius: 45px;
            @include boxsize;
        }
        &:hover>i{
            box-shadow: 0 0 5px $color-fiv;
            border: none;
            transform: rotate(360deg);
            background: $color-six;
            color: $color-for;
        }
    }
    @include pc900(){
        margin: 0 auto;
        flex-flow: column;
        li{
            width: 100%;
            margin: 3% 0;
        }
    }
    @include phone500(){
        .illustrate{
            top: 25%;
            h4{
                font-size: $fntSiz-xxs;
                letter-spacing: .1em;
            }
        }
    }
}
/**----Work End----**/
