
@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; 
}

@mixin norepeat {
    background-repeat: no-repeat;
}

@mixin pointer {
    cursor: pointer;
}

@mixin none {
    display: none;    
}

@mixin clear {
    clear: both;
}

@mixin backgroundSetting {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@mixin boxsize {
    box-sizing: border-box;
}