$color-master: #1da3ac;
$color-sec: #ededed;
$color-thir: #cadee1;
$color-for: #fff;
$color-fiv: #616060;
$color-six: #1b99a2;
$color-sev: #000;



$fntSiz-xxl: 45pt;
$fntSiz-xl: 36pt;
$fntSiz-l: 24pt;
$fntSiz-m: 20pt;
$fntSiz-s: 18pt;
$fntSiz-xs: 14pt;
$fntSiz-xxs: 12pt;




