$color-master: #cfe2f1;
$color-sec: #dbeaf8;
$color-thir: #035272;
$color-for: #fff;
$color-fiv: #605e5e;
$color-six: #587e88;
$color-sev: #000;
$color-8: #dbeaf8c2;



$fntSiz-xxl: 45pt;
$fntSiz-xl: 36pt;
$fntSiz-l: 24pt;
$fntSiz-m: 20pt;
$fntSiz-s: 18pt;
$fntSiz-xs: 14pt;
$fntSiz-xxs: 12pt;




