$color-master: #cfe2f1;
$color-sec: #dbeaf8;
$color-thir: #024058;
$color-for: #fff;
$color-fiv: #605e5e;
$color-six: #587e88;
$color-sev: #000;
$color-8: #dbeaf8c2;
$color-9: #0094ff;
$color-10: #8d8d8d;
$color-11: #00000000;
$color-12: #ffd921;
$color-13:#737373;
$color-14:#686767;


$fntSiz-xxl: 45pt;
$fntSiz-xl: 36pt;
$fntSiz-l: 24pt;
$fntSiz-m: 20pt;
$fntSiz-s: 18pt;
$fntSiz-xs: 14pt;
$fntSiz-xxs: 12pt;




